.settings-content {
    padding: 30px 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    background-color: var(--bg);
}

.settings-button {
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    display: inline-block;
    max-width: fit-content; 
}

.settings-button:hover {
    background-color: #f0f0f0;
}


label {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

.exit-button {
    background-color: var(--exit-bg);
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}


.exit-button:hover {
    background-color: rgb(145, 8, 8);
}

.settings-options {
    margin-top: 20px;
}

.settings-options h2,
.settings-options p {
    margin: 5px 0;
}
.theme-options,
.language-options {
    display: flex;
    flex-direction: column;
}

.theme-options button,
.language-options button {
  width: 120px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-right: 0; /* remove horizontal spacing */
    margin-bottom: 8px; /* add vertical spacing */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover effect: move up */
.theme-options button:hover,
.language-options button:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* optional: add some lift */
}
.theme-options .light-theme {
    background-color: #7B8DA6;
    color: #ffffff;
}

.theme-options .dark-theme {
    background-color: #011640;
    color: #fff;
}

.language-options .french-btn,
.language-options .english-btn {
    background-color: #DCEAF2;
    color: rgb(0, 0, 0);
}
.settings-options{
  color: black;
}
.sidebarUsername{
  color: black;
}

a {
  text-decoration: none !important;
  color: black !important;
}


#settingsHeader, #logout {
  text-decoration: none !important;
  color: black !important; 
  cursor: pointer;
}

#settingsHeader:hover, #logout:hover {
  color: black !important;           
  text-decoration: none !important;  
}